body {
    font-family: 'Roboto', sans-serif; 
}

ul {
    list-style-type: none;
    display: flex;
    color: white;
    gap: 20px;
    margin-right: 15%
}
  
a {
    text-decoration: none; 
    color: white;
}
  
.logo {
    margin-right: auto;
}
  
.header {
    font-size: 18px;
    color: #e5e7eb;
}

.header-container {
    background-color: #1f2937;
    color: #e5e7eb;
}

h1 {
    color: #f9faf8;
}